:root {
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
  --grayishBlue: hsl(217, 19%, 38%);
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
}

body {
  background-color: var(--darkGrayishBlue);
}

.advice-body {
  color: var(--lightCyan);
}

.advice-title {
  color: var(--neonGreen);
}

.container {
  background-color: var(--grayishBlue);
  border-radius: 15px;
  
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 30px;
  width: 60%;
}

.new-advice {
  background-color: var(--neonGreen);
  padding: 10px;
  border: none;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-advice:hover {
  box-shadow: 
    0 0 10px 5px var(--neonGreen)
  ;
}