:root {
  --darkGrayishBlue: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
  --grayishBlue: hsl(217, 19%, 38%);
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
}

body {
  background-color: var(--darkGrayishBlue);
}

.advice-body {
  color: var(--lightCyan);
}

.advice-title {
  color: var(--neonGreen);
}

.container {
  background-color: var(--grayishBlue);
}

.new-advice {
  background-color: var(--neonGreen);
}